body {
	min-width: 820px;
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color:white;
	background-color: black;

}

.container {
	width: 800px;
	margin: 0 auto;
}

.container_width {
	width: 1010px;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
	padding-top: 60px;
	background-color:black;
	background-image: url("../img/wheat-back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	min-height: 490px;
}

.header_top {
	min-height: 76px;
}

.logo_container {
	float: left;
	width: 140px;
	height: 76px;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header_menu {
	float: right;
	width: 600px;
	height: 57px;
	margin-top: 10px;
	margin-left: 60px;
}

.menu_item {
	float: left;
	display: inline-block;
	padding: 23px 24px;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu_item:first-child {
	padding-left: 0;
}

.menu_item:last-child {
	padding-right: 0;
}

.menu_item a {
	text-decoration: none;
	color: white;
}

.menu_item:hover > a,
.menu_item:hover {
	color: #ffcb78;
	border-bottom-color: white;
}

.menu_item a:active {
	color: #7b6034;
}

.promo {
	margin-top: 120px;
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
	max-height: 166px;
	text-align: center;
}

.new_items {
	padding-top: 80px;
	padding-bottom: 110px;
	background-color: white;
	color: black;
}

.new_items_list {
	margin-top: 74px;
}

.new_item {
	position: relative;
	float:left;
	width: 336px;
	padding-left: 35px;
	padding-right: 25px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.new_item:last-child {
	border-left: none;
}

.heading {
	font-size: 40px;
	line-height: 61px;
	text-transform: uppercase;
	margin: 0;
}

.new_item_table {
	width: 100%;
	border-collapse: collapse;
	line-height: 41px;

}

.new_item_data {
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	text-align: left;
	line-height: 41px;
	border: 1px solid #e5e5e5;
}

.bottle {
	padding-top: 35px;
	width: 319px;
	height: 459px;
}

.new_item_description {
	position: absolute;
	top: 82px;
	right: 25px;
	max-width: 150px;
}

.composition {
	font-size: 14px;
	line-height: 24px;
	color: #404040;
}

.description_text {
	line-height: 30px;
	color: #404040;
	margin: 0;
	margin-bottom: 60px;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #834700;
	font-weight: bold;
	line-height: 20px;
	padding: 13px 20px;
	margin-right: 3px;
	border: 2px solid #834700;
}

.btn_more:hover {
	color: #6a3900;
	border-color: #6a3900;
}

.btn_more:active {
	opacity: 0.3;
}

.btn_buy {
	color: white;
	background-color: #834700;
}

.btn_buy:hover {
	color: white;
	background-color: #6a3900;
	border-color: #6a3900;
}

.btn_buy:active {
	color: rgba(255, 255, 255, 0.3);
}

.price {
	margin-left: 18px;
}


.features {
	padding-top: 78px;
	padding-bottom: 100px;
	background-color: #ffcb78;
	color: black;
}

.feature_heading {
	text-transform: uppercase;
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

.feature_list{
	margin: 0 auto;
	width: 1030px;
}

.feature_list_item {
	position: relative;
	float: left;
	width: 210px;
	border-right: 1px solid #e5b66c;
	padding-top: 105px;
	padding-left: 93px;
	padding-right: 105px;
}

.feature_list_item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	height: 100px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.brew::before {
	background-position: -300px -300px;
}

.matreshka::before {
	left: 93px;
	background-position: -950px -300px;
}

.thumbsub::before {
	left: 93px;
	background-position: -1595px -300px;
}

.feature_list_item:first-child {
	padding-left: 0;
}

.feature_list_item:last-child {
	border-right: none;
	padding-right: 0;
}

.feature_pharagraph {
	line-height: 30px;
	text-align: left;
	color: #404040;
	margin-bottom: 0;
}

.history {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: white;
	color: black;
	text-align: left;
}

.history_fact_heading {
	text-transform: uppercase;
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
}

.source {
	font-style: italic;
	position: absolute;
	bottom: 0;
	right: 0;
}

.source a {
	text-decoration: underline;
	color: #834700;
}

.source a:hover {
	color: #6a3900;
}

.source a:active {
	color: #cab7a2;
}

.history dl {
	margin: 0;
	margin-top: 59px;
}

.history dt {
	position: relative;
}

.history dd {
	position: relative;
	margin: 0;
	margin-top: 20px;
}

dd.definition_margin {
	margin-bottom: 60px;
}

.history dd img {
	position: absolute;
	right: 0;
	bottom: 7%;
}

.fact_main {
	width: 490px;
	line-height: 30px;
	color: #404040;
	margin: 0;
}

.press_about_us {
	position: relative;
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #ede5d8;
	color: black;
}

.cite_container {
	margin: 0;
	margin-top: 74px;
	position: relative;
}

.cite_container::before {
	content: "";
	width: 41px;
	height: 31px;
	background-image: url(../img/quotes.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: -105px;
}

.cite_content {
	width: 692px;
	text-align: left;
	line-height: 30px;
	color: #404040;
	margin: 0;
}

.cite_author {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
}

.btn_readnext {
	margin-top: 38px;
	margin-right: 0;
	color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
}

.btn_readnext:hover {
	color: white;
	background-color: #a5a097;
	border-color: #a5a097;
}

.btn_readnext:active {
	background-color: #8f8a81;
	border-color: #8f8a81;
	color: rgba(255, 255, 255, 0.3);
}

.assortment {
	padding-top: 90px;
	padding-bottom: 90px;
	color: black;
	background-color: white;
}


.assortment_table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 72px;

}

.assortment_table th {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 30px;
	text-align: left;
	color: #999999;
	padding-bottom: 30px;
}

.assortment_table tr {
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
}

.assortment_table td {
	color: #404040;
}

.td_align_right,
th.td_align_right {
	text-align: right;
}

.assortment_table .product_name {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	line-height: 30px;
	padding-top: 18px;
	padding-bottom: 18px;
	width: 400px;
}

.new {
	font-size: 8px;
	line-height: 30px;
	color: white;
	background-color: black;
	padding: 2px 4px 3px 4px;
	margin-left: 20px;
	border-radius: 2px;
}

.order {
	padding-top: 80px;
	padding-bottom: 110px;
	background-color: #ffcb78;
	color: black;
}

.order_message {
	margin: 0;
	margin-top: 74px;
	margin-bottom: 70px;
	width: 642px;
	color: #404040;
	line-height: 30px;
	text-align: left;
}

.customer_form {
	width: 630px;
}

.form_field {
	padding-bottom: 26px;
}

.customer_form label {
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
}

.input_field {
	width: 100%;
	background-color: #e5b66c;
	border: none;
	height: 50px;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.input_field:hover {
	background-color: #d9ad66;
}

.input_field:focus {
	background-color: white;
	color: black;
}

.half_field {
	width: 290px;
	float: left;
	margin-right: 50px;
}

.half_field:nth-child(3) {
	margin-right: 0;
}

textarea.input_field {
	padding-top: 10px;
	height: 120px;
}

.checkbox_field {
	position: relative;
	margin-top: 20px;
	padding-bottom: 48px;
}

.checkbox {
	display: none;
}

.checkbox_label {
	margin-left: 54px;
}

.checkbox_alt {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: #e5b66c;
	position: absolute;
	left: 0;
	top: -20px;
}

.checkbox_label:hover .checkbox ~ .checkbox_alt {
	background-color: #d9ad66;
}

 .checkbox_alt::after {
    content: "";
    position: absolute;
    display: none;
    left: 15px;
    top: 10px;
    width: 6px;
    height: 11px;
    border: solid #231f20;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox_label ,.checkbox:checked ~ .checkbox_alt::after {
    display: block;
}

input.btn {
	width: 200px;
}

.footer {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: black;
}

.footer_top {
	margin: 0 auto;
}

.logo_footer {
	margin-left: 35px;
}

.footer_menu {
	margin-top: 7px;
	margin-left: 130px;
	float: left;
	width: 600px;
}

.menu_item_footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer_bottom {
	margin-top: 47px;
}

.social {
	width: 218px;
	float: left;
}

.social_btn {
	position: relative;
	display: inline-block;
	float: left;
	font-size: 0;
	width: 69px;
	height: 66px;
	border: 1px solid #322d24;
	border-right: none;
	background-color: #1b1b1b;
}

.social_btn:last-child {
	border-right: 1px solid #322d24;
}

.social_btn::before {
	content: "";
	position: absolute;
	top: 25px;
	left: 25px;
	background-image: url("../img/spritesheet_social.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.inst::before {
	background-position: -35px -9px;
}

.fb::before {
	background-position: -4px -11px;
}

.vk::before {
	background-position: -72px -9px;
}

.copyright {
	width: 700px;
	float: right;
}

.copyright_btn {
	float: left;
	margin-right: 31px;
	position: relative;
	font-size: 0;
	display: inline-block;
	width: 70px;
	height: 66px;
	border: 1px solid #322d24;
	background-color: #1b1b1b;
}

.copyright_btn::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 21px;
	width: 27px;
	height: 34px;
	background-image: url("../img/htmlacademy.png");
	background-position: center;
	background-repeat: no-repeat;
}

.copyright_text {
	margin: 0;
	float: left;
	line-height: 20px;
	font-size: 14px;
	color: #989898;
}

.copyright_text.warning {
	width: 195px;
	padding-right: 205px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.developer_text {
	padding-top: 27px;
}

.copyright_text a {
	text-decoration: none;
	color: inherit;
}

.developer {
	font-weight: bold;
}

.social_btn:hover,
.copyright_btn:hover {
	border-color: #605037;
}

.social_btn:hover + .social_btn {
	border-left-color: #605037;
}

.social_btn:active,
.copyright_btn:active {
	opacity: 0.1;
}

.social_btn:active + .social_btn {
	border-left-color: rgba(96, 80, 55, 0.1);
}